.modal {
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 20px;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  opacity: 0;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__error {
  color: #FF0000;
  opacity: 70%;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;

}

.modal__container_preview {
  padding: 0;
  margin: auto;
  width: auto;
  height:auto;
  background: transparent;

}

.modal__caption {
  margin: 0;
  color:#fff;
  background-color: #212121;
  width: fit-content;
  padding: 5px;
  border-radius: 8px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;


}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  padding: 0;
  border: none;
  opacity: 40%;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../images/X.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}

.modal__close-btn_preview {
  background-image: url("../images/white\ close\ icon.svg");
  top: 0px;
  right: -52.5px;

}
.modal__close-btn:hover {
  opacity: 100%;

}


.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  height: 32px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  margin-top: 32px;
  font-size: 16px;
  font-weight: 500;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  color: #212121;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6)
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  padding: 18px, 0;
  background-color: #212121;
  color: #fcf5E5;
  border-radius: 8px;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 80%;
}

.modal__submit-btn-disabled {
  opacity: 50%;
}

@media screen and (max-width: 672px) {
.modal {
  padding: 0 10px;

}

.modal__container {
  padding: 16px 16px;
}


.modal__title {
  font-size: 20px;
  height: 20px;
  font-weight: 500;
  line-height: 20px;
  width: 106px;
  margin: 10px 0 34px;
}

.modal__close-btn {
  top: 12px;
  right: 12px;
}

.modal__close-btn_preview {
  top: -42px;
  right: 0px;
}

.modal__label {
  margin-bottom: 24px;
}

.modal__caption {
  font-size: 16px;
  line-height: 19.2px;
}

.modal__submit-btn {
  width: 100%;
}
}

@media screen and (max-width: 320px) {
  .modal__image {
    max-width: 413px;
  }

  .modal__container {
    padding: 12px;
  }

}
